
  <!-- APP-YAMS -->
  <div class="container-flui principal">
    <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home(current)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Se connecter(current)</a>
        </li>
        <li class="nav-item">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input (keyup.enter)="searchPastry($event)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </li>
      </ul>
    </nav>
    <app-pastries [filters] = "filters"></app-pastries>
  </div>

