.bg-sucre {
    background-color: #8b0000;
}

.bg-yummy {
    background-color: #2596be;
}

.bg-chocolat {
    background-color: #665200;
}

.bg-dessert {
    background-color: #e28743;
}


.bg-framboise {
    background-color: #960D59;
}

.bg-banane {
    background-color: #ffcc00;
}

.bg-default {
    background-color: #739900;
}

